<robot name="taco_base_model">
  <link name="taco_base_body">
    <inertial>
      <mass value="1.0" />
      <!-- center of mass (com) is defined w.r.t. link local coordinate system -->
      <origin xyz="0.09 0.09 0.00254" />
      <inertia  ixx="1.0" ixy="0.0"  ixz="0.0"  iyy="1.0"  iyz="0.0"  izz="1.0" />
    </inertial>
    <visual>
      <!-- visual origin is defined w.r.t. link local coordinate system -->
      <origin xyz="0 0 0" rpy="3.1416 0 0" />
      <geometry>
        <mesh filename="/home/ur3/Downloads/Taco_Base_v3.stl" scale="0.0254 0.0254 0.0254"/>
      </geometry>
    </visual>
    <collision>
      <!-- collision origin is defined w.r.t. link local coordinate system -->
      <origin xyz="0 0 0" rpy="3.1416 0 0" />
      <geometry>
        <mesh filename="/home/ur3/Downloads/Taco_Base_v3.stl" scale="0.0254 0.0254 0.0254"/>
      </geometry>
    </collision>
  </link>
  <gazebo reference="taco_base_body">
    <material>Gazebo/LightWood</material>
  </gazebo>
</robot>
